* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e1fbfc;
}
h1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.todosLosBotones{
    margin: 12px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}
.botones {
    
    width: 250px;
    height:100px;
    background-color: #07dae1;
    align-items: center;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    color: azure;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}



.contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.bloque {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
}
#game-area {
    min-height: 200px;
    border: dotted 5px rgb(10, 95, 60);
    max-width: 500px;
    margin: auto;
  }

